name: Python Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.12
          auto-update-conda: true
          environment-file: environment.yml
          activate-environment: cocopaths-env
      - name: Initialize Conda
        run: |
          conda init bash
          source ~/.bashrc 


      - name: Run pytest
        run: |
          conda init bash
          source ~/.bashrc 
          conda activate cocopaths-env
          pytest-cov
        shell: bash


      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          directory: ./coverage/reports/
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./coverage1.xml,./coverage2.xml,!./cache
          token: ${{ secrets.CODECOV_TOKEN }}